.reviewTextarea {
    height: 5vw
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;

}

.red-button {
    background-color: red;
    color: white;
}

.grey-button {
    background-color: darkgray;
    color: white;
}


.checked {
    color: orange;
}


/* Review stars */
.rate-area {
    float: left;
    border-style: none;
}

.rate-area:not(:checked)>input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}

.rate-area:not(:checked)>label {
    float: right;
    width: .80em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 40px;
    line-height: 32px;
    color: lightgrey;
    margin-bottom: 10px !important;
}

.rate-area:not(:checked)>label:before {
    content: '★';
}

.rate-area>input:checked~label {
    color: #e8262d;
    text-shadow: none;
}

.rate-area:not(:checked)>label:hover,
.rate-area:not(:checked)>label:hover~label {
    color: #e8262d;

}

.rate-area>input:checked+label:hover,
.rate-area>input:checked+label:hover~label,
.rate-area>input:checked~label:hover,
.rate-area>input:checked~label:hover~label,
.rate-area>label:hover~input:checked~label {
    color: #e8262d;
    text-shadow: none;

}

.rate-area>label:active {
    position: relative;
    top: 0px;
    left: 0px;
}

.manage-review-container {
    width: 80%;
    padding: 0 10%;
}

.review-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 96%;
    align-items: center;
    margin: 1% 2%;
}
