.hidden {
    display: none;
}

.primary-text {
    display: flex;
    font-weight: bold;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
}

.primary-text span {
    display: inline;
    margin: 3px;
    font-size: 12pt;


}

.spot-nav-container {
    display: flex;
    justify-content: center;
    margin: 10px 10%;
}

.spot-nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    /* justify-content: space-around; */

}
